html {
  font-family: monospace;
  font-size: calc(1ex + 2vh + 3vw);
}

abbr {
  font-weight: bold;
}

dt {
  margin: 0;
}

dd {
  margin: 0;
}

dd::first-letter {
  font-weight: bold;
}

body {
  padding: 3vmin;
  padding-block-start: 3vh;
  padding-inline-start: 5vw;
  padding-inline-end: 0;
  margin: auto;
  overflow-wrap: anywhere;
}

main {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 100vh;
}

figure {
  display: flex;
  flex-flow: column;
  margin: auto;
}

nav {
  margin-block: 6vh;
}
