html {
  font-family: monospace;
  font-size: calc(1ex + 2vh + 3vw);
}

body {
  padding: 3vmin;
  padding-block-start: 3vh;
  padding-inline-start: 5vw;
  padding-inline-end: 0;
  margin: auto;
  overflow-wrap: anywhere;
}

figure {
  margin: auto;
}

nav {
  margin-block: 5vh;
}

abbr {
  font-weight: bold;
}

dt {
  margin: 0;
  margin-block: 5vh;
}

dd {
  margin: 0;
}

dd::first-letter {
  font-weight: bold;
}
